@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@500&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
}
main {
	display: flex;
}
nav {
	background-color: rgb(226, 226, 226);
	border: 2px solid #d3d3d3;
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	color: black;
}
.mylist {
	display: flex;
	justify-content: center;
	align-items: center;
}
.mylist2 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.my-button {
	background-color: #ae91b2;
	color: rgb(0, 0, 0);
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	width: 50%;
	margin-bottom: 50px;
}
.chat-button {
	background-color: #d0c4d1;
	color: rgb(0, 0, 0);
	padding: 0px 20px;
	border: none;
	border-radius: 4px;
	margin-left: auto;
	margin-right: 50px;

	cursor: pointer;
}
.my-button:hover {
	background-color: #c28fb0;
	background-color: #ffc0cb; /* Color de fondo inicial */
	transition: background-color 0.3s; /* Agrega una transición suave */
}
.chat-button:hover {
	background-color: #f294d1;
	background-color: #ffc0cb; /* Color de fondo inicial */
	transition: background-color 0.3s; /* Agrega una transición suave */
}
.status {
	font-size: 10px;
}
.mimg {
	width: 40px;
}

nav img {
	max-width: 60px;
	border-radius: 50%;
	margin-bottom: 1rem;
	margin-top: 1rem;
	margin-left: 1rem;
}
.emotes {
	text-align: end;
	font-size: 20px;
	margin-left: auto;
	margin-right: 30px;
}

.emotes:hover {
	color: #ae91b2;
	background-color: #ffc0cb; /* Color de fondo inicial */
	transition: background-color 0.3s; /* Agrega una transición suave */
}
nav ul {
	list-style: none;
	text-align: center;
}

nav ul li {
	color: black;
	text-align: center;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 1.25rem;
}
nav p {
	color: black;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 75%;
}
.content p {
	text-align: center;
}
.content h1 {
	font-size: 52px;
}
.content img {
	width: 20%;
}
